# FRONTEND
REACT_APP_API_URL=http://localhost:5000
REACT_APP_ADMIN_PIN=FT001

# BACKEND
PORT=5000
TELEGRAM_BOT_TOKEN=8278697371:AAEXIhx_lXQDLv4uWoIZagZat-Tuxk0x5_Y
TELEGRAM_CHAT_ID=https://t.me/+DeFlVW_cGeUwMWY1
ADMIN_PHONE_1=+6285857322097
ADMIN_PHONE_2=+628972337396
ADMIN_QRIS_CODE=qris_code_here
ADMIN_BANK_ACCOUNT=085716941474
ADMIN_BANK_NAME=DANA ONLY

# WHATSAPP
WHATSAPP_BUSINESS_API=your_whatsapp_api_token
